.popup.popup_info
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Спасибо за ваш отзыв
				.popup__text: p Он будет опубликован после модерации администратором интернет-магазина.
				.popup__btn: .btn.btn_fill(data-popup-close='.popup') продолжить покупки
