$fontMain: 'Montserrat', sans-serif;
$breakPoint: 1200px;


$colorBlue: #278ef6;
$colorGreen: #609d52;
$colorYellow: #fce83f;
$colorRed: #ff0042;
$colorBlack: #000;


.c{
	&-yellow{
		color: $colorYellow;
	}
	&-green{
		color: $colorGreen;
	}
	&-blue{
		color: $colorBlue;
	}
	&-red{
		color: $colorRed;
	}
}
